body{
    padding-top: 35px;
}
.tooltip:hover{
cursor: pointer;
}
.tooltip{
    padding: 30px;
    margin: 10px;
    position: relative;
}
.now{
    position: relative;
}
.tooltiptext{
    display: block;
    z-index: 1;
    background-color: red;
    width:150px;
    font-size: x-small;
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    top: -40px;
    left: 10px;
}
.hide{
    display: none;
}
